<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>My Social Media Platform</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	{% include 'header.html' %}
	<main style="padding-top: 140px;">
		{% for message in messages %}
		<center>
        <div class="alert alert-info" role="alert">
            <b><p style="background-color: rgb(226, 74, 74);"> {{ message }} </p></b>
        </div>
		</center>
        {% endfor %}

		{% for i in following %}
		{% for ind in i %}
			<center>
			<div class="post">
				<div class="post-header">
					<a href="/user/{{ ind.user.id }}" id="userid" style="padding-right: 8px;">{{ ind }}</a>
					<br>
					<h4><b>{{ ind.title }}</b></h4>
					<a style='padding-left: 200px;'  href="/post/{{ ind.id }}">view in detail To comment , like</a>
				</div>
				<div class="post-body">
					{% if ind.image %}
					<img src="/media/{{ ind.image }}" alt="User Picture">
					{% endif %}
					<p>{{ ind.text }}</p>
				</div>
			</div>
		</center>
		{% endfor %}
		
		{% endfor %}

		<!-- more posts here -->
	</main>
<div style="padding-top: 100px;"></div>
	<footer >
		<p>&copy; 2023 My Social Media Platform</p>
	</footer>

	<script>
	</script>
</body>
</html>
